* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.btn {
  width: 45px;
  aspect-ratio: 1;
  line-height: 4px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.todo-app-container {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .todo-app-container {
    padding: 20px;
  }
}

.todo-app-container h1 {
  font-size: 3rem;
  text-align: center;
}

.add-todo {
  margin-bottom: 20px;
  margin-top: 40px;
}

.add-todo .add-todo-input {
  font-weight: 700;
  padding: 15px;
  width: 78.5%;
  background-color: var(--add-todo-input-bg);
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.add-todo .add-todo-btn {
  background-color: var(--blue-color);
}

.todos .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--white-color);
  border-radius: 5px;
  max-width: 100%;
}

.todos .todo .todo-text-container {
  display: flex;
  align-items: center;
}

.todos .todo-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.todos .toggle-status-btn {
  width: 17px;
  height: 17px;
  border-radius: 4px;
  border: 2px solid #ddd;
  outline: none;
  margin-right: 15px;
  background-color: transparent;
  cursor: pointer;
}

.todos .toggle-status-btn svg {
  position: relative;
  color: var(--white-color);
  background-color: var(--blue-color);
  border: 3px solid var(--blue-color);
  border-radius: 4px;
  top: -3px;
  left: -3px;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}

.todos .toggle-status-btn.active svg {
  transform: scale(1);
}

.todos .todo-text::first-letter {
  text-transform: capitalize;
}


.todos .remove-todo-btn,
.todos .edit-todo-btn,
.todos .cancel-edit-todo-btn,
.todos .edit-check-btn {
  width: 35px;
  margin-right: 1px;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}

.todos .remove-todo-btn:hover,
.todos .cancel-edit-todo-btn {
  background-color: var(--red-color);
}

.todos .edit-todo-btn:hover,
.todos .edit-check-btn:hover {
  background-color: var(--blue-color);
}


.todos .edit-todo-input {
  border: none;
  border-bottom: 2px solid var(--blue-color);
  padding-bottom: 3px;
  outline: none;
  background-color: transparent;
  caret-color: var(--blue-color);
}

.todos-filter {
  display: flex;
  justify-content: end;
  position: relative;
}


.todos-filter .filter-icon {
  width: 30px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 30px;
  background-color: var(--black-color);
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.todos-filter .content {
  position: absolute;
  top: -400%;
  opacity: 0;
  width: fit-content;
  background-color: var(--black-color);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 4;
  transition: 0.3s;
}

.todos-filter .content.display-filter-options {
  top: 40px;
  opacity: 1;
}

.todos-filter select {
  /* styling */
  background-color: white;
  color: black;
  border-radius: 4px;
  width: 150px;
  font: inherit;
  font-weight: 600;
  padding: 8px 30px 8px 16px;
  margin: 5px 0 0 5px;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;

  /* reset */

  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;

  cursor: pointer;
}

.todos-filter select.clicked {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.select-colors {
  position: relative;
  width: 70px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.select-colors.clicked {
  border-radius: 5px 5px 0 0;
}
.select-colors span:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px
}

.select-colors .select-colors-container {
  position: absolute;
  left: 0;
  display: none;
  gap: 5px;
  width: 100%;
  padding: 5px;
  background-color: white;
  border-top: 1px solid black;
  z-index: 2;
}
.select-colors .select-colors-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-colors .select-colors-container span {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}